<section class="menu">
  <div class="user-group">
    <ul class="users">
        <!-- <div *ngIf="authService.adminLoggedIn()">
            <a class="btn btn-primary" [routerLink]="['/users/manage']">Manage Users</a>
          </div> -->
      <li *ngFor="let user of users">
        <h5>{{user.name}}</h5>
        <p>- {{user.username}} - {{user.email}}</p>
        <button *ngIf="authService.adminLoggedIn()" (click)="deleteUser(user._id, user.username)">Delete User</button> 
        <br/>
        <br/>
      </li>
    </ul>
  </div>
</section>